#listContainer {
	width: 600px;
    margin: 50px auto;
    padding: 20px;
}
table {
	border-collapse: collapse;
}
th, td {
	padding: 10px;
}
#currentPaging {
	color: red;
	font-size: 15pt;
	padding: 5px 8px;
	margin: 3px;
}

#paging {
	color: black;
	font-size: 15pt;
	padding: 5px 8px;
	margin: 3px;
}
#paging:hover{
	cursor:pointer;
}

